.gform_wrapper:not(.gform_editor) {
	.cffgf_padding.gfield {
		padding: 10px;
	}

	fieldset.cffgf_padding.gfield {
		position: relative;
		padding-top: 29px;

		legend {
			position: relative;
			top: 20px;
			margin-bottom: 0;
		}
	}
}
